@import "tailwindcss";
@plugin "@tailwindcss/typography";

@property --hue {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

@theme {
  --font-sans: Inter, sans-serif;

  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-accent: oklch(0.87 0.06 var(--hue));
  --color-main: #e0e0e0;
  --color-muted: #9e9e9e;
  --color-disabled: #555555;
  --color-base: #2c2c2c;
  --color-subtle: #1a1a1a;
  --color-code: #1f1f1f;
}

@layer base {
  @keyframes hue {
    from {
      --hue: 0;
    }
    to {
      --hue: 360;
    }
  }

  html {
    animation: hue 6s linear infinite;
  }

  body {
    @apply bg-secondary text-main font-sans;
  }

  * {
    @apply border-base outline-base;
  }

  ::selection {
    @apply bg-accent text-secondary;
  }
}
